.site-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;

    .main-header {
        padding: 18px 16px;
        position: relative;

        @media screen and (min-width:1025px) {
            display: flex;
            border-bottom: 1px solid #EEEDEB;
        }

        .menu {
            list-style: none;
            padding: 0 20px 20px;

            @media screen and (min-width:1025px) {
                display: flex;
                gap: 16px;
                padding: 0 20px;
            }

            &_item {
                color: $font-color;
                font-size: $font-size-small;
                line-height: 1.56;

                @media screen and (max-width:1024px) {
                    &:not(:last-child) {
                        border-bottom: 1px solid #ECF3FF;
                        margin-bottom: 6px;
                    }
                }

                @media screen and (min-width:1025px) {

                    &-link {
                        &-item {
                            padding: 4px 12px;
                            border-radius: 100px;
                            font-weight: 300;
                            transition: 0.3s ease-in-out;
                            font-style: italic;
                            position: relative;
                        }

                        .arrow {
                            display: none;
                        }
                    }
                }

                @media screen and (min-width:1025px) {

                    &:hover {
                        .menu_item-link-item {
                            background-color: $primary-color-light;
                        }

                        .new-item {
                            background-color: $primary-color-light;
                        }
                    }
                }

                &-link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-item {
                        text-decoration: none;
                        transition: 0.3s ease-in-out;
                        border-radius: 100px;
                    }
                }

                .new-item {
                    margin: -10px 0 0 -8px;
                    color: $primary-color;
                    font-size: 10px;
                    line-height: 2.2;
                    transition: 0.3s ease-in-out;
                    padding: 0 8px;
                    border-radius: 10px;

                    @media screen and (max-width:1024px) {

                        display: none;
                    }
                }

                .sub-menu {
                    z-index: 99;
                    position: absolute;
                    width: 100%;
                    background-color: #fff;
                    transform: translateX(-100%);
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                    top: 0;
                    left: 0;

                    @media screen and (min-width:1025px) {
                        top: 102%;
                        left: 0;
                        display: flex;

                        .menu-wrapper {
                            width: 40%;
                        }

                        .mega-menu_item-content {
                            width: 60%;
                        }
                    }
                }

                &.sub-menu-active {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0);
                        padding: 20px;

                        @media screen and (min-width:1025px) {
                            padding: 50px 0 50px 150px;
                        }
                    }

                    .menu_item-link-item {
                        background-color: $primary-color-light;
                    }

                    .new-item {
                        background-color: $primary-color-light;
                    }
                }
            }
        }

        .best-seller {
            max-width: 100%;
            padding: 44px 0 0 20px;
            margin-bottom: 20px;
            font-size: $font-size-small;

            @media screen and (min-width:1025px) {
                display: none;
            }

            .card-content {
                display: none;
            }

            .title-section {
                display: flex;
                justify-content: space-between;
                padding: 0 20px 20px 0;

                p {
                    font-style: italic;
                }

                a {
                    border-bottom: 1px solid $primary-color;
                    color: $primary-color;
                }
            }
        }

        .card {
            max-width: 100%;
            background-color: #F2F2F2;
            padding: 8px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-content {
                text-align: left;

                span {
                    font-size: 8px;
                    color: #828282;
                    font-weight: 700;
                    line-height: 1.125;
                }

                p {
                    font-size: $font-size-small;
                    line-height: 1.14;

                    @media screen and (min-width:1025px) {
                        font-size: $font-size;
                        font-weight: 300;
                        font-style: italic;
                    }

                }
            }
        }

        .header-menu {
            background-color: #fff;

            @media screen and (max-width:1024px) {
                max-width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                visibility: hidden;
                opacity: 0;
                transform: translateY(-100%);
                transition: all 0.5s ease-in-out;

                &.open {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }

                &:has(.sub-menu-active) {
                    top: 0;
                }
            }
        }

        .sub-menu_back {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 44px;

            @media screen and (min-width:1025px) {
                margin-bottom: 24px;
            }

            .menu-back {
                font-size: $font-size-large;
                font-weight: 500;
                display: flex;
                gap: 10px;
                align-items: center;
                color: inherit;
            }
        }

        .wrapper {
            display: flex;
            justify-content: space-between;

            .toggle-menu {
                border: none;
                display: flex;
                flex-direction: column;
                gap: 8px;

                @media screen and (min-width:1025px) {
                    display: none;
                }

                span {
                    display: inline-block;
                    width: 22px;
                    height: 1px;
                    background-color: $font-color;
                    transition: 0.3s ease-in-out;
                    opacity: 1;

                }

                &.close {
                    span:nth-child(1) {
                        transform: rotate(-45deg) translate(-6px, 6px);
                    }

                    span:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    span:nth-child(3) {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }


        .mega-menu_item {
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                font-weight: 300;
            }

            &-content {
                .title-section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 32px 0 14px;

                    p {
                        font-style: italic;
                    }

                    a {
                        text-decoration: underline;

                        @media screen and (min-width:1025px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width:1025px) {
    .sub-menu_back svg {
        display: none;
    }
}