.notification-bar {
    padding-block: 8px;
    background-color: $font-color;
    color: #fff;
    transition: 0.5s ease-in-out;

    &.close {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }

    @media screen and (max-width:1024px) {
        display: none;
    }

    &_content {
        display: flex;
        justify-content: center;
        position: relative;
        font-size: $font-size-small;
        font-style: italic;
        font-weight: 300;
        line-height: 1.5;

        .btn-close {
            position: absolute;
            right: 12px;
            background: none;
            color: inherit;
            box-shadow: none;
            border: none;
            cursor: pointer;
        }
    }
}