@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Color variables
$primary-color: #3057A7;
$primary-color-light: #ECF3FF;
$font-color: #0F234C;
$font-color-dark: #000000;
$background-color: #fff;
$border-color: #EEEDEB;

// font size
$font-size: 18px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

// font family
$primary-font: "Merriweather Sans", sans-serif;
$secondary-font: "Roboto Condensed", sans-serif;

// Spacing variables
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$border-radius: 4px;

// container
$container-width: 1300px;